# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


dist
dist-ssr
*.local


backends/node_modules/
backends/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.DS_Store
*.log


# Ignore environment files
.env


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

frontends/node_modules/
frontends/eslint.config.js
frontends/package.json
frontends/package-lock.json
frontends/vite.config.js
frontends/README.md
frontends/src/index.css
frontends/src/UserProfileCard.jsx
frontends/index.html

backends/node_modules/
backends/.env
backends/package.json
backends/package-lock.json

node_modules/
package-lock.json
package.json
.git/
